$color:purple;
$color_boton:black;
$color_texto:white;
/*
Lorem ipsum dolor sit amet consectetur 
adipisicing elit. Consequatur beatae 
officia, qui id voluptatum modi impedit 
ea, minima officiis sapiente eum quibusdam? 
Voluptate, doloribus natus dicta fugit quas 
sed iure!

Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Aspernatur ut perferendis velit quae commodi suscipit tempore asperiores. Repudiandae saepe labore quisquam doloremque maiores, ab aliquid veritatis excepturi nesciunt odio? Numquam.
*/

body{
	background: $color;
}
.cabezote{
	margin:0 auto;
	width:800px;
}
.boton{
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	color:$color_texto;
	background:$color_boton;
}
.cabezote{
	margin:0 auto;
	background:yellow;
	display: flex;
}